@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #dd6d60;
  --color-tint: #ff8198;
  --color-background: #ededed;
  --font-size: 18px;
  --line-height: 1.5;
}